.result-body {
    width: 100%;
    margin: auto;
    display: flex;
}

.filters {
    width: 250px;
    height: 550px;
    margin-right: 10px;
    // border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 0 0 10px grey;
    padding: 10px;
}

.hotels-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    width: 100%;
    margin: 0 auto auto auto;
    grid-gap: 8px;
}
